@charset "utf-8";
/* CSS Document */
h1 {color: darkorange}

p { font-size: 25px;
 line-height: 27px;
	background: #AF8889;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
    }
body {background-color: darkgreen}