@charset "utf-8";
/* CSS Document */
h1 {color:crimson;
	font-size: 30px;
	line-height: 35px;
	
}
body {background-color: antiquewhite;
	line-height: 20px;
      font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}